<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="structure">
	<div id="menu"></div>
	<div id="main">
		<%= yield %>
	</div>
</div>
<div id="notify"></div>
<div data-params="<%= @data %>"></div>
<div id="ask">
	<div class="bg" onclick="$('#ask').removeClass('show')"></div>
	<div class="ask">
		<div class="title">
			<div>Подтвердите действие</div>
		</div>
		<div class="text">
			<p></p>
		</div>
		<div class="buttons">
			<div class="btn white cancel"><span>Отменить</span></div>
			<div class="btn ok"></div>
		</div>
	</div>
</div>
</body>
</html>